<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CGPACalculator"
        tools:targetApi="33">
        <activity android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpActivity" />
        <activity android:name=".Sample" />
        <activity android:name=".mech.MechSem8List" />
        <activity android:name=".mech.MechSem7List" />
        <activity android:name=".mech.MechSem6List" />
        <activity android:name=".mech.MechSem5List" />
        <activity android:name=".eee.EeeSem8List" />
        <activity android:name=".eee.EeeSem7List" />
        <activity android:name=".eee.EeeSem6List" />
        <activity android:name=".eee.EeeSem5List" />
        <activity android:name=".ece.EceSem8List" />
        <activity android:name=".ece.EceSem6List" />
        <activity android:name=".ece.EceSem5List" />
        <activity android:name=".ece.EceSem7List" />
        <activity android:name=".SetupProfile" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".About" />
        <activity android:name=".mech.MechSem4List" />
        <activity android:name=".mech.MechSem3List" />
        <activity android:name=".eee.EeeSem4List" />
        <activity android:name=".eee.EeeSem3List" />
        <activity android:name=".ece.EceSem3List" />
        <activity android:name=".ece.EceSem4List" />
        <activity android:name=".ece.EceSem2List" />
        <activity android:name=".ece.EceSem1List" />
        <activity android:name=".civil.CivilSemList" />
        <activity android:name=".civil.CivilSem3List" />
        <activity android:name=".civil.CivilSem4List" />
        <activity android:name=".civil.CivilSem5List" />
        <activity android:name=".civil.CivilSem6List" />
        <activity android:name=".civil.CivilSem7List" />
        <activity android:name=".civil.CivilSem8List" />
        <activity android:name=".mech.MechSemList" />
        <activity android:name=".eee.EeeSemList" />
        <activity android:name=".ece.EceSemList" />
        <activity android:name=".it.ItSem8List" />
        <activity android:name=".it.ItSem7List" />
        <activity android:name=".it.ItSem6List" />
        <activity android:name=".it.ItSem5List" />
        <activity android:name=".it.ItSem4List" />
        <activity android:name=".it.ItSem3List" />
        <activity android:name=".it.ItSemList" />
        <activity android:name=".cse.CseSem8List" />
        <activity android:name=".cse.CseSem7List" />
        <activity android:name=".cse.CseSem6List" />
        <activity android:name=".cse.CseSem5List" />
        <activity android:name=".cse.CseSem4List" />
        <activity android:name=".cse.CseSem3List" />
        <activity android:name=".cse.CseSem2List" />
        <activity android:name=".cse.CseSem1List" />
        <activity android:name=".cse.CseSemList" />
        <activity android:name=".MainActivity" />
    </application>
</manifest>